<nav>
    <div class="logo-container">
        <img src="favicon.svg" alt="icon" />
        <h1 class="logo"><a href="/">TheBlogMaster</a></h1>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/Blogs">Blogs</a></li>
        <li><a href="#">More</a></li>
    </ul>
</nav>

<style>
    body {
        margin: 0;
        padding: 0;
        
    }

    img{
        width: 2.5em;
    }
    img:hover{
        transform: scale(1.2);
    }

    .logo a:hover{
        cursor: pointer;
        transform: scale(1.2);
        color: #fff;
    }

    nav {
        background-color: #36393e;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .logo-container {
        display: flex;
        align-items: center;
    }

    .logo a {
        font-size: 1.5rem;
        color: #7289da;
        margin: 0;
        margin-left: 10px;
        text-decoration: none;
    }

    .nav-links {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .nav-links li {
        margin-left: 20px;
    }

    .nav-links li:first-child {
        margin-left: 0;
    }

    .nav-links li a {
        text-decoration: none;
        color: #fff;
        transition: color 0.3s ease;
        padding: 5px 10px;
    }

    .nav-links li a:hover {
        color: #7289da;
    }
</style>