<nav class="bg-gray-900 text-white flex justify-between items-center px-4 py-2 sticky top-0 z-10">
    <div class="flex items-center">
        <img src="favicon.svg" alt="icon" class="w-10 h-10 hover:scale-125" />
        <h1 class="text-xl ml-2"><a href="/" class="text-blue-500 hover:text-white transition duration-300">BlogCord</a></h1>
    </div>
    <ul class="flex items-center list-none">
        <li class="ml-4"><a href="/" class="text-white hover:text-blue-500 transition duration-300">Home</a></li>
        <li class="ml-4"><a href="/Blogs" class="text-white hover:text-blue-500 transition duration-300">Blogs</a></li>
        <li class="ml-4"><a href="#" class="text-white hover:text-blue-500 transition duration-300">More</a></li>
    </ul>
</nav>
