<main>
    <div>
        <h1 style="font-size: 36px;">Welcome to TheBlogMaster</h1>
        <p style="font-size: 18px;">Explore the latest blogs and stay updated with <b>TheBlogMaster</b></p>
    </div>
</main>



<style>
    main{ 
        margin: 1.5rem;
        color: #fff;  
        text-align: start;
    }
    p{
        color: #7289da;
    }
    b{
        font-weight: bolder;
        color: #fff;
    }
</style>
