<main class="m-8 text-white text-left">
    <div>
        <h1 class="text-3xl">Welcome to BlogCord</h1>
        <p class="text-lg">Explore the latest blogs and stay updated with <b class="font-bold text-white">BlogCord</b></p>
    </div>
</main>
