---
import Layout from '../layouts/Layout.astro';
import Home from './Home.astro'
import Blogs from './Blogs.astro';
import Footer from './Footer.astro';
import Header from './Header.astro';
---

<Layout title="BlogCord">
    <main class="min-h-screen bg-gray-900 text-white font-sans">
        <Header />   
        <Home />
        <Blogs />
        <Footer />
    </main>
</Layout>
