---
import Layout from '../layouts/Layout.astro';
import Home from './Home.astro'
import Blogs from './Blogs.astro';
import Footer from './Footer.astro';
import Header from './Header.astro';
---

<Layout title="theblogmaster">
	<main>
		<Header />   
		<Home />
		<Blogs />
		<Footer />
	</main>
</Layout>

<style>
	:root{
		background-color: #36393e;
		color: 	#fff;
		font-family: Arial, sans-serif;
	}
</style>
